$main-color-dark: #f7f7f7;
$main-color-light: #ffffff;

$black: #1f1f1f;
$black-text: #201f20;
$grey: #ececee;
$grey-dark: #9a999b;
$grey-text: #8f8f8f;
$grey-text-dark: #666666;

$orange: #faba64;

$blue: #0085fe;
$purple: #6277ff;
$orange-light: #f8dec2;

$breakpoint-phone: 500px;
$breakpoint-tablet: 800px;

$section-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
