.Main_Picture {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  margin-right: 5px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  flex-wrap: wrap;

  .Background {
    flex-grow: 1;
    background-image: url("../../images/grid-light.svg"),
      linear-gradient($purple, $orange-light);
    background-repeat: repeat;
    background-size: contain;
    z-index: 1;
    padding: 2.5rem;
    width: fit-content;
    border-radius: 20px;
    display: flex;
    max-width: 700px;
    box-shadow: $section-shadow;
    .LogoColor {
      background-color: $main-color-light;
      display: flex;
      flex-direction: row;
      width: 100%;
      gap: 20px;
      border-radius: 20px;
      padding: 2.5rem;
      justify-content: space-between;
      flex-grow: 1;
      .logo-text {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        white-space: nowrap;
        justify-content: space-between;
        .logo {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 1rem;
          .LogoIcon {
            height: 19rem;
            width: auto;
            // @media (max-width: $breakpoint-tablet) {
            //   width: 80px;
            //   height: 80px;
            // }
            @media (max-width: $breakpoint-phone) {
              height: 7rem;
            }
          }
          .Name {
            font-family: "Caveat", sans-serif;
            display: flex;
            flex-direction: column;
            font-weight: 600;
            font-size: 7rem;

            @media (max-width: $breakpoint-tablet) {
              font-size: 6rem;
            }

            @media (max-width: $breakpoint-phone) {
              font-size: 6rem;
            }

            b {
              font-weight: 500;
              font-family: "Dosis", sans-serif;
              font-size: 1.8rem;
              white-space: nowrap;
            }
          }
        }

        .Slogan {
          font-family: "Dosis", sans-serif;
          font-size: 10px;
        }

        .Sidenote {
          cursor: pointer;

          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 10px;
          font-family: "Dosis", sans-serif;
          font-size: 1.9rem;
          margin: 0;
          font-weight: 600;
          color: $purple;
          text-decoration: none;
          border-bottom: 1px solid $purple;
          width: fit-content;
        }
      }

      .Food {
        width: 19rem;
        height: 19rem;
        // @media (max-width: $breakpoint-phone) {
        //   width: 70px;
        //   height: 70px;
        // }
      }
    }
  }

  // Default Settings
  .board {
    width: 65%;
    min-width: 0;
    flex-direction: column;
  }

  .right_section {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    min-width: 0;
    gap: 3rem;
    max-width: 500px;
    .top {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: left;
      justify-content: space-around;
      background-color: $orange;
      padding: 3rem;
      border-radius: 20px;
      text-align: left;
      width: -webkit-fill-available;
      gap: 0;
      color: $black-text;
      min-width: fit-content;
      box-shadow: $section-shadow;

      .serving {
        font-size: 2rem;

        color: $black-text;
      }
      .In_KW_Merged {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        gap: 10px;
        .In {
          font-family: ImpactCustom, Haettenschweiler, "Franklin Gothic Bold",
            Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold",
            "Arial Black", "sans serif";
          font-size: 40px;
          i {
            font-size: 30px;
          }
        }
        .KW_area {
          color: $black-text;
          white-space: nowrap;
          font-size: 2rem;
        }
      }
    }

    .bottom {
      background-color: $main-color-light;
    }
  }
}
