h1 {
  font-size: 3.5rem;
  margin-bottom: 3rem;
  font-weight: 600;
}
p {
  font-size: 1.9rem;
  margin: 0;
  font-weight: 600;
  -webkit-text-stroke-width: 0;
  color: $grey-text;
  white-space: wrap;
}

.wrapper {
  min-height: 90vh;
  padding: 0px 4rem;

  // @media (max-width: $breakpoint-tablet) {
  //   padding: 0px;
  // }

  padding-bottom: 5vh;
  max-width: 100vw;
  display: flex;
  flex-direction: row;
  position: relative;
  overflow-x: hidden;
  background: $main-color-dark;
  padding-top: 9rem;

  .side-bar {
    background-color: $main-color-light;
    width: fit-content;
    height: 40px;
    top: 0;
    left: 0;
    min-width: 100vw;
    border-right: 2px solid $grey;
    padding: 20px 10px;
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    z-index: 300;
    svg {
      width: 2rem;
      height: 2rem;
      @media (max-width: $breakpoint-phone) {
        width: 17px;
        height: 17px;
      }
    }
    @media (max-width: $breakpoint-phone) {
      padding: 10px 6px;
    }

    .dots {
      min-width: 50px;
      height: 5px;
      border: 0px;
      width: max-content;
      border-bottom: 5px solid $grey;
      border-style: dotted;
      transition: all 0.3s ease-in-out;
    }

    .dots-colored {
      border-bottom: 5px solid $grey-dark;
      border-style: dotted;
    }

    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }
    .logo-img {
      left: 20px;
      display: none;
      @media (max-width: $breakpoint-phone) {
        left: 10px;
        width: 40px;
        height: 40px;
      }
      position: absolute;
    }
    .side-icon {
      padding: 10px 20px;
      border-radius: 20px;
      margin: 10px;
      display: flex;
      align-items: center;
      cursor: pointer;
      flex-direction: column;
      gap: 10px;

      p {
        color: $black-text;

        font-weight: 700;
        font-size: 10px;
        margin-top: 0;
      }

      @media (max-width: $breakpoint-phone) {
        padding: 10px;
        gap: 0px;

        p {
          font-size: 0px;
          font-weight: 500;
          margin: 2px 0;
        }
      }
    }
    .hovered {
      background: $grey;
      transition: all 0.3s ease-in;
    }
  }

  .main-section {
    width: -webkit-fill-available;
    text-align: left;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease-in-out;

    .section {
      margin-bottom: 3vh;
      align-items: flex-start;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 90vw;
      gap: 3vw;
      .left-half {
        flex-grow: 2;
      }
      .left {
        align-self: center;
        flex-wrap: wrap;
        flex-grow: 1;
        min-height: -webkit-fill-available;
        background: $main-color-light;
        border-radius: 40px;
        max-width: 400px;
        align-self: flex-start;
        margin-top: 4rem;
        box-shadow: $section-shadow;
        @media (max-width: $breakpoint-phone) {
          width: fit-content;
          margin: 0 auto;
        }
      }
    }
    .whatsapp {
      position: fixed;
      width: 1em;
      height: 1em;
      bottom: 5.55vh;
      right: 1vw;
      font-size: 5.2em;
      background-color: $black-text;
      border-radius: 50%;
      padding: 0.4em;
      z-index: 300;
    }
    .whatsapp:hover {
      transform: scale(1.2);
    }
    .whatsapp svg {
      color: $grey;
    }

    .faq {
      display: flex;
      max-width: fit-content;
      min-width: 50vw;
    }

    //Mobile responsiveness
    @media (min-width: 240px) and (max-width: 450px) {
      .home-screen {
        display: flex;
        flex-direction: column;
        height: 100vh;
      }
      .main-section {
        flex: 1;
      }
      .section {
        display: block;
        .side-bar {
          margin-right: 0;
        }
      }
    }
  }
}

.hidden-screen {
  opacity: 0;
  z-index: -1;
  display: none !important;
}
